.chatInput
{
    position: fixed;
    bottom: 0px;
    left: 53.6%;
    width: 40.5%;
    height: 9%;
    z-index: 99;
    background: white;
    outline: none;
    padding-left: 5px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
    resize: none;
    overflow-y: scroll;
    border: solid 5px lightsalmon;
}
.hidden
{
display:none;
}
