.chatInput {
    grid-area: chat-input;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
}

.chatInput__textarea
{
    width: 90%;
    height: 55%;
   
    white-space: pre-wrap;
    background: white;
    outline: none;
    color: #666;
    font-weight: 400;
    resize: none;
    overflow: hidden;
    border: solid 5px lightsalmon;
    font-size: 20px;
}

.chatInput__show-picker-button {
    position: absolute;
    font-size: 45px;
    cursor: pointer;
    align-self: center;
    right: 5%;
}
