.participants-container
{
    text-align: center;
    font: 12px;
    background: #fff;
    white-space: nowrap;
    overflow-y: scroll;
    text-overflow: ellipsis;
    width: 100%;
    max-height: fit-content;
    border-radius: 42px;
}

.participants-container::-webkit-scrollbar
{
    display: none;
}

.invite-link
{
    width: 100%;
}

.MuiListItem-default-33
{
    padding-top: 0 !important;
}

.avatar_icon
{
    width: 40px;
}
