.participants-container
{
    font: 12px;
    background: #fff;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invite-link
{
    color: #a4a0df;
    margin-left: 20px;
}