.participants-container
{
    text-align: center;
    font: 12px;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invite-link
{
    color: #a4a0df;
    margin-left: 40px;
}