.metadata
{
    text-align: center;
    
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    margin: 10px 10px 10px 0;
    padding: 10px;
    border-right: 2px #ff817c double;
    background: rgba(255, 229, 204, .15);
}

.metadata:hover
{
    background: #ffe5cc;
}

.metadata__link
{
    color: #3979aa;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metadata__pic
{
    align-self: center;
    margin-top: 10px;
    max-width: 100%;
    border-radius: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meatadata__text
{
    font-size: 14px;
    text-decoration: underline !important;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
