.add-to-chat-form
{
    border: none;
    width: 100%;
}

.add-to-chat-form__input
{
    width: 100%;
    padding-left: 10px;
    border: 1px solid;
    border-color: #c7c7bf;
    border-radius: 4px;
}

.add-to-chat-form, .add-to-chat-form__input
{
    height: 30px;
}
