.messages
{
    grid-area: messages;
    
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.messages li
{
    padding: 0 5px 10px 0;
    overflow: hidden;
    display: flex;
    
}

.messages .avatar
{
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
}

.messages .avatar img
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255, 255, 255, .9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.messages .avatar::after
{
    box-shadow: none;
}

.messages .day
{
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
