.add-person__form
{
    margin-top: 50px;
    width: 95%;
    border: none;
}

.add-person__input
{
    width: 100%;
    padding-left: 10px;
    border: 1px solid;
    border-color: #c7c7bf;
    border-radius: 4px;
}

.add-person__form, .add-person__input
{
    height: 30px;
}
