a
{
    color: #3979aa;
    cursor: pointer;
}

.other .msg
{
    order: 1;
    border-top-left-radius: 0;
    margin-left: 5px;
}

.self a
{
    display: block;
    text-align: right;
}

.self
{
    justify-content: flex-end;
}

.self .msg
{
    order: 1;
    border-top-right-radius: 0;
    margin-right: 5px;
}

.avatar
{
    border: 1px solid rgba(158, 158, 158, .3);
    box-shadow: 0 1px 2px #9e9e9e;
}

.self .avatar
{
    order: 2;
}

.msg
{
    border: 1px solid rgba(158, 158, 158, .3);
    background: white;
    min-width: 130px;
    max-width: 260px;
    width: max-content;
    word-wrap: break-word;
    padding: 10px;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0 1px 2px #9e9e9e;
}

.msg time
{
    font-size: .8rem;
    margin: 0 0 .2rem;
    color: #777;
}

.msg img
{
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 0 3px #eee;
    transition: all .4s cubic-bezier(.56, -.26, .26, 1.41);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.msg time
{
    font-size: .7rem;
    color: #ccc;
    display: flex;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.msg time:before
{
    content: '\f017';
    color: #ddd;
    font-family: FontAwesome, serif;
    display: inline-block;
    margin-right: 4px;
}

.msg img
{
    width: 13em;
}
