.conversations
{
    grid-area: conversations;

    padding-top: 13px;
}

.conversations__controls
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 6%;
}

.conversations__add-button
{
    margin-left: 5px;
    cursor: pointer;
    border: none;
    background: none;
}

.conversations__add-button-icon
{
    height: 30px;
    width: 30px;
    color: #ff7f51;
}

.conversations__list
{
    height: 95%;
    overflow-y: auto;
}

.rce-citem-body--top-title
{
    width: 0;
}

.rce-citem-body--top-time
{
    display: none;
}
