@import
url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

.chat-container
{
    grid-area: chat;

    display: grid;
    grid-template-areas: 'chat-controls'
                        'messages'
                        'chat-input';
    grid-template-rows: 6% 86% 10%;

    padding-top: 11px;
    margin: 0 13px;
}

.chat-container__controls {
    display: flex;
    align-items: center;
}

.chat-container__show-participants-button
{
    margin-left: 20px;
    margin-top: 2px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #ff7f50;
    outline: none;
    cursor: pointer;
}
