@import
url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

.chat-container
{
    margin-bottom: 100px;
    float:right;
    width: 50%;
}

.show-participants-button
{
    margin-top: 10px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #ff7f50;
    float: left;
    outline: none;
}
