.spinner-container
{
    z-index: 300;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(95, 95, 95, 0.7);
}

.loader {
	left: 47%;
	top: 45%;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
    
.loader-7 .line {
	width: 8px;
	position: absolute;
	border-radius: 5px;
	bottom: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#e0e246), to(#ff7f50));
	background: -webkit-linear-gradient(top, #e0e246, #ff7f50);
	background: -o-linear-gradient(top, #e0e246, #ff7f50);
	background: linear-gradient(to bottom, #e0e246, #ff7f50);
}

.loader-7 .line1 {
	left: 0;
	-webkit-animation: line-grow 0.5s ease alternate infinite;
	animation: line-grow 0.5s ease alternate infinite;
}

.loader-7 .line2 {
	left: 20px;
	-webkit-animation: line-grow 0.5s 0.05s ease alternate infinite;
	animation: line-grow 0.5s 0.05s ease alternate infinite;
}

.loader-7 .line3 {
	left: 40px;
	-webkit-animation: line-grow 0.5s 0.1s ease alternate infinite;
	animation: line-grow 0.5s 0.1s ease alternate infinite;
}

@-webkit-keyframes line-grow {
	0% {
		height: 0;
	}
	100% {
		height: 75%;
	}
}

@keyframes line-grow {
	0% {
		height: 0;
	}
	100% {
		height: 75%;
	}
}
