.spinner-container
{
    z-index: 300;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(95, 95, 95, .7);
}

.loader
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 60px;
    height: 60px;
}

.loader .line
{
    width: 8px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    background: linear-gradient(to bottom, #e0e246, #ff7f50);
}

.loader .line1
{
    left: 0;
    -webkit-animation: line-grow .5s ease alternate infinite;
    animation: line-grow .5s ease alternate infinite;
}

.loader .line2
{
    left: 20px;
    -webkit-animation: line-grow .5s .05s ease alternate infinite;
    animation: line-grow .5s .05s ease alternate infinite;
}

.loader .line3
{
    left: 40px;
    -webkit-animation: line-grow .5s .1s ease alternate infinite;
    animation: line-grow .5s .1s ease alternate infinite;
}

@-webkit-keyframes line-grow
{
    0%
    {
        height: 0;
    }
    100%
    {
        height: 75%;
    }
}

@keyframes line-grow
{
    0%
	{
        height: 0;
    }
    100%
	{
        height: 75%;
    }
}
