.create-conversation
{
    outline: none;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(255, 160, 122, .5);
    transition: 0.3s;
    background: white;
}

.create-conversation__header
{
    padding-top: 40px;
}

.create-conversation__input
{
    margin: 20px;
    margin-bottom: 30px;
}
