.logo
{
    margin-bottom: -10px;
    margin-left: 5px;
    transform: scale(1.2);
}

.sign-in
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 70%;
    width: 97%;
}

.sign-in__a,
.sign-in__a:link,
.sign-in__a:visited
{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 40px;
    padding: 20px 40px;
    display: block;
    border: 2px solid #ff7f50;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
}

.sign-in__a:hover
{
    background-color: #f55649;
    color: #fff;
}
