@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import
url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.menu
{
    grid-area: menu;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    background: coral;
}

.menu__avatar-wrapper
{
    display: flex;
    align-content: center;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.menu__avatar-img
{
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.98);
    border-radius: 100%;
}

.menu__name-and-time
{
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
    margin-left: 15px;
}
