
.menu
{
    grid-area: menu;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, #b0e0e6, #ffc0cb);

    position: relative;
}

.menu__avatar-wrapper
{
    display: flex;
    align-content: center;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.menu__avatar-img
{
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .98);
    border-radius: 100%;
    border: 1px solid rgba(158, 158, 158, .3);
    box-shadow: 0 1px 2px #9e9e9e;
}

.menu__name-and-time
{
    font-size: 25px;
    font-weight: 300;
    color: rgba(255, 255, 255, .98);
    cursor: default;
    margin-left: 15px;
}

.menu__alarm-clock-button
{
    position: absolute;
    right: 15px;
    top: 17px;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    background: linear-gradient(45deg, #eecfba, #c5dde8);
    color: #4b0082;
    padding: 7px;
    border-radius: 10%;
    box-shadow: 0 1px 2px #9e9e9e;
    height: 32px;
}

.menu__alarm-clock-button:hover
{
    opacity: .8;
}
